<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <title>团队邀请</title>
    <!-- CSS  -->
    {% load staticfiles %}
    <link href="{% static "css/md-icon.css" %}" rel="stylesheet">
    <link href="{% static "css/materialize.css" %}" rel="stylesheet">
    <link href="{% static "css/about.css" %}" rel="stylesheet">
    <link href="{% static "css/os.css" %}" rel="stylesheet">

</head>
<body>

<div class="container">
    <div class="row">

        <form class="col s12" action="os_paper" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="input-field col s12">
                    <input placeholder="你的名字" id="team_name" type="text" class="validate" name="stu_name" value="">
                    <label for="team_name">你的名字</label>
                </div>

            </div>
            <div class="row">
                <div class="input-field col s12">
                    <select name="paper_src">
                        <option value="" disabled selected>请选择</option>
                        <option value="0">osdi2014</option>
                        <option value="1">sosp2015</option>
                        <option value="2">osdi2016</option>
                    </select>
                    <label>论文来源</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input placeholder="论文题目" id="leader" type="text" class="validate" name="paper_name" value="">
                    <label for="leader">论文题目</label>
                </div>
            </div>

            <div class="row">
                <button id="inv_btn" class="btn waves-effect waves-light" type="submit" name="action">提交
                    <i class="material-icons right">send</i>
                </button>
            </div>


        </form>

    </div>
</div>

<!--  Scripts-->
<script src="{% static "js/jquery-2.1.1.min.js" %}"></script>
<script src="{% static "js/materialize.js" %}"></script>
<script src="{% static "js/os.js" %}"></script>
</body>
</html>