* {
    margin: 0;
    padding: 0;
    font-family: "Roboto",
    "微软雅黑", "Microsoft YaHei",
    "冬青黑体", "Hiragino Sans GB", "华文细黑", "STXihei",
    "文泉驿微米黑", "WenQuanYi Micro Hei",
    sans-serif;
    font-size: 15px;
    font-style: normal;
    color: #444;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}
