<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <title>无所不能的管理员</title>

    <!-- CSS  -->
    {% load staticfiles %}
    <link href="{% static "css/md-icon.css"%}" rel="stylesheet">
    <link href="{% static "css/materialize.css"%}" rel="stylesheet">
    <link href="{% static "css/about.css"%}" rel="stylesheet">
</head>
<body>

<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <br><br>
            <h1 class="header center teal-text text-lighten-2">ScutGithuber</h1>
            <div class="row center">
                <h5 class="header col s12 light text-accent-1">一切都是为了偷懒</h5>
            </div>
            <div class="row center">
                <a href="https://github.com/ahangchen/GotYou">这个网站是开源的，点这里进入Github</a>
            </div>
            <div class="row center">
                <a href="#" id="download-button"
                   class="btn-large waves-effect waves-light teal lighten-1">GO!</a>
            </div>
            <br><br>

        </div>
    </div>
</div>


<div class="container">
    <div class="section">

        <!--   Icon Section   -->
        <div class="row">
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
                    <h5 class="center">随便写的</h5>

                    <p class="light">为了好看不得不填充很多字啊，Created and designed by Google,
                        Material Design is a design language that combines the classic principles of successful design along with innovation and technology.</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">group</i></h2>
                    <h5 class="center">随便写的</h5>

                    <p class="light">为了好看不得不填充很多字啊，Created and designed by Google,
                        Material Design is a design language that combines the classic principles of
                        successful design along with innovation and technology.</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
                    <h5 class="center">随便写的</h5>

                    <p class="light">为了好看不得不填充很多字啊，Created and designed by Google,
                        Material Design is a design language that combines the classic principles of
                        successful design along with innovation and technology.</p>
                </div>
            </div>
        </div>

    </div>
</div>



<!--  Scripts-->
<script src="{% static "js/jquery-2.1.1.min.js"%}"></script>
<script src="{% static "js/materialize.js"%}"></script>


<!--<div class="hiddendiv common"></div>-->
<!--<div class="drag-target"-->
     <!--style="left: 0px; touch-action: pan-y; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></div>-->
<!--<audio controls="controls" style="display: none;"></audio>-->
</body>

</html>